*{
    margin: 0;
    padding:0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background: #000;
    color: #fff;
}
.header {
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/background\ new.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 8%;
    position: relative;   
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo {
    width: 150px;
    cursor: pointer;
}
nav button {
 border:0 ;
 outline: 0;
 color: white;
 background-color: red;
 border-radius: 4px;
 padding: 6px 20px;
 font-size: 15px;
 margin:0 20px;
}
nav select{
    border:1px solid ;
    border-color: #ffffff95;
    color: #fff;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 4px;
    padding: 6px 25px;
    font-size: 15px;
   
}
nav select option {
    color: white;
    background-color: #fff;
}
.container {
    text-align: center;
    margin-top: 110px;

}
h1 {
    font-size: 35px;
    font-weight: 900;
    
}
.container h3{
    font-size: 26px;
    font-style: normal;
    font-weight: 100;

}
.container p {
    font-style: normal;
    font-weight: 100;
}
.container input {
    border: 1px solid;
    border-color: #ffffff3e;
    color: white;
    background-color: rgb(90 82 82 / 47%);
    border-radius: 4px;
    padding: 9px 10px;
    font-size: 13px;
    margin-top: 18px;
    width: 310px;
    line-height: 25px;
}
.container button {
   
    border: 0;
    outline: 0;
    color: white;
    background-color: red;
    border-radius: 4px;
    padding: 11px 20px;
    font-size: 21px;
    width: 170px;
    line-height: 25px;
    font-family: sans-serif;
}
.globe {
    width: 21px;
    position: absolute;
    margin-top: 6px;
    margin-left: 6px;
}
.down img {
    width: 10px;
    position: absolute;
    margin-left: 108px;
    margin-top: -18px;
}
.small-container {
    height: 9px;
    width: 100%;
    background-color: rgb(71 67 67 / 55%);
}
.col-2 img {
    position: relative;
    width: 560px;
    margin-left: 111px;
}
.col-2 {
    width: 50%;
    margin-top:80px;  
}
.row{
    padding: 0 100px;
    display: flex;
    flex: wrap;
}
.col-2 h1 {
    font-size: 46px;
    font-weight: 900;
    margin-top: 123px;
    text-align: inherit;
    line-height: 85px;
    padding-left: 50px;
}
.col-2 p {
    text-align: start;
    font-size: 24px;
    padding-left: 59px;
}

.faq {
    padding: 10px 12%;
    text-align:center;
    font-size: 18px;

}
.faq h2 {
    font-weight: 800;
    font-size: 40px;

}
.accordion {
    margin: 30px auto;
    width: 100%;
    max-width: 750px;
}
.accordion li {
    list-style: none;
    width :100%;
    max-width: 750px;
}
.accordion li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 19px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
label::after{
    content:'+';
    font-size: 34px;
    position: absolute;
    right:20px;
    transition: transform 0.5s;
}
input[type="radio"] {
    display: none;
}
.accordion .content {
    background: #303030;
    text-align: left;
    padding: 0 20px;
    overflow: hidden;
    max-height: 0;
    transition: max height 0.5s, padding 0.5s;
}
.accordion input[type="radio"]:checked + label + .content {
    max-height: 600px;
    padding: 30px 20px;

}
.accordion input[type="radio"]:checked + label::after {
    transform: rotate(135deg);
}
.accordion p{
    font-style: normal;
    font-weight: 100;
}
.accordion input[type="email"] {
    border: 1px solid;
    border-color: #ffffff3e;
    color: white;
    background-color: rgb(90 82 82 / 47%);
    border-radius: 4px;
    padding: 9px 10px;
    font-size: 13px;
    margin-top: 18px;
    width: 310px;
    line-height: 25px;
}
.accordion button {
    border: 0;
    outline: 0;
    color: white;
    background-color: red;
    border-radius: 4px;
    padding: 11px 20px;
    font-size: 21px;
    width: 170px;
    line-height: 25px;
    font-family: sans-serif;
}
.footer {
    
    padding: 100px;
}
.footer p {
    display: inline-block;
    padding-left:180px;
    color: rgba(193, 187, 187, 0.826);
}
.footer a {
    line-height: 78px;
    color: rgba(178, 173, 173, 0.755);
    padding-left: 5px;
}

.footer-table{
    /* border-color: #fff; */
    /* table-layout: auto; */
    padding-left: 200px;
}
.footer-table td{
    padding: 5px;
    text-decoration: underline;
    color: rgba(172, 169, 169, 0.782);
    font-size: 14px;
    cursor: pointer;
}